{% load static %}
<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Doctor Dashboard - KPI Hospital</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Nov 17 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Table with Filter Button</title>
  <!-- Thêm các thư viện DataTables và Extensions -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.4/css/select.dataTables.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/select/1.3.4/js/dataTables.select.js"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.js"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.js"></script>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="{% static 'assets/img/logo.png' %}" alt="">
        <span class="d-none d-lg-block">KPI Hospital</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->


        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{% static 'assets/img/profile-img.' %}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{ status }}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{ status }}</h6>
              <span>{{ specialty }}</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'myfirstapp:logout' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="index.html">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->
    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Data Tables</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item active"><a href="{% url 'myfirstapp:doctor' %}">Data Tables</a></li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Datatables</h5>

              <div>
                <label for="cccd-search"><strong>CCCD:</strong></label>
                <input type="text" id="cccd-search" placeholder="Filter by CCCD.." class="table-search-filters" style="width: 500px;">
              </div>
              <br>
              <div>
                <label for="fullname-search"><strong>Name:</strong></label>
                <input type="text" id="fullname-search" placeholder="Filter by full name.." class="table-search-filters" style="width: 500px;">
              </div>
              <br>
              <div>
                <label for="gender-search"><strong>Gender:</strong></label>
                <input type="text" id="gender-search" placeholder="Filter by gender (Male/Female).." class="table-search-filters" style="width: 500px;">
              </div>
              <br>
              <div>
                <label for="dob-search"><strong>Day of birth:</strong></label>
                <input type="text" id="dob-search" placeholder="Filter by dob (DD/MM/YYYY).." class="table-search-filters" style="width: 500px;">
              </div>
              <br>
              <div>
                <label for="disease-search"><strong>Disease:</strong></label>
                <input type="text" id="disease-search" value="{{ specialty }}" placeholder="Filter by disease (lowercase) .." class="table-search-filters" style="width: 500px;">
              </div>
              <br>
              <!-- Thêm nút Filter -->
              <button type="button" id="filterButton" class="btn btn-primary">Filter</button>
              <br>
              <lable id="filter-message"></lable>
              <!-- Table with stripped rows -->

              <table id="myTable" class="table datatable">
                <thead>
                  <tr>
                    <th>
                      <b>CCCD</b>
                    </th>
                    <th>Full Name</th>
                    <th>Gender</th>
                    <th>Day of birth</th>
                    <!-- <th data-type="date" data-format="YYYY/DD/MM">Start Date</th> -->
                    <th>Disease</th>
                  </tr>
                </thead>
                <tbody id="patient-table-data"></tbody>
              </table>
              <!-- End Table with stripped rows -->

              <script>
                // Trong JavaScript
                document.getElementById('filterButton').addEventListener('click', function () {

                  // Lấy đối tượng table body
                  var tableBody = document.getElementById('myTable');

                  var inputIds = ["cccd-search", "fullname-search", "gender-search", "dob-search", "disease-search"];

                  // Tạo một đối tượng chứa các tham số
                  var params = {};

                  // Lặp qua các ô input và thêm tham số vào đối tượng
                  inputIds.forEach(function (id) {
                    var value = document.getElementById(id).value.trim();
                    if (value !== "") {
                      // params["patient_info." + id.split('-')[0]] = value;
                      params[id.split('-')[0]] = value;
                    }
                  });

                  // Chuyển đổi đối tượng params thành chuỗi query
                  var queryString = Object.keys(params)
                    .map(key => key + '=' + encodeURIComponent(params[key]))
                    .join('&');

                  // Gửi request GET đến server
                  fetch('/doctor/filter?' + queryString, {
                    method: 'GET',
                  })
                    .then(response => response.json())
                    .then(data => {
                      // document.getElementById("fullname-search").value = data.patients[0].fullname;
                      displayPatientList(data.patients);
                      var filter_message = document.getElementById("filter-message");
                      filter_message.textContent = data.message;
                    });
                })
                  .catch(error => console.error('Error:', error));

                function displayPatientList(patientList) {
                  var listElement = document.getElementById("patient-table-data");
                  listElement.innerHTML = '';
                  if (patientList.length) {
                    patientList.forEach(function (patient) {
                      var listRow = document.createElement("tr");

                      var linkItem = document.createElement("a");
                      linkItem.href = "/doctor/patient_ehr?cccd=" + patient.patient_info.cccd;
                      linkItem.textContent = patient.patient_info.cccd;
                      
                      var cccdCell = document.createElement("td");
                      cccdCell.appendChild(linkItem);
                      listRow.appendChild(cccdCell);
                      // Thêm cột "Name"
                      var fullnameCell = document.createElement("td");
                      fullnameCell.textContent = patient.patient_info.fullname || "-";
                      listRow.appendChild(fullnameCell);
                      // Cot gender
                      var genderCell = document.createElement("td");
                      genderCell.textContent = patient.patient_info.gender || "-";
                      listRow.appendChild(genderCell);

                      // Thêm cột "Age"
                      var dobCell = document.createElement("td");
                      dobCell.textContent = patient.patient_info.dob || "-";
                      listRow.appendChild(dobCell);

                      // Thêm cột "City"
                      var diseaseCell = document.createElement("td");
                      diseaseCell.textContent = patient.patient_info.disease || "-";
                      listRow.appendChild(diseaseCell);
                      listElement.appendChild(listRow);
                    });
                  }
                  else {
                    var listRow = document.createElement("tr");
                    var notiCell = document.createElement("td");
                    notiCell.textContent = "No results match your search query";
                    listRow.appendChild(notiCell);
                    listElement.appendChild(listRow);
                  }
                  
                }
              </script>
            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'assets/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/quill/quill.min.js' %}"></script>
  <!-- <script src="{% static 'assets/vendor/simple-datatables/simple-datatables.js' %}"></script> -->
  <script src="{% static 'assets/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>