<!DOCTYPE html>
<html>
<head>
    <title>KPI Hospital</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }

        h1 {
            color: #333;
            text-align: center;
            margin-top: 100px;
        }

        p {
            color: #666;
            text-align: center;
            font-size: 18px;
            margin-top: 20px;
        }
    </style>
</head>
<body>

<h1>Welcome to KPI Hospital!</h1>
<p>Providing quality healthcare services.</p>

</body>
</html>
<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <form action="{% url 'myfirstapp:logout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Logout">
    </form>
    <form action="{% url 'myfirstapp:signup' %}" method="get">
        {% csrf_token %}
        <input type="submit" value="Sign up">
    </form>
    <form action="{% url 'myfirstapp:login' %}" method="get">
        {% csrf_token %}
        <input type="submit" value="Login">
    </form>
</div>
