{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bệnh Án Điện Tử</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/theme/_theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/theme/_utilities.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/utilities/_background.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/utilities/_border.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/utilities/_icon-shape.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/utilities/_position.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/utilities/_shadows.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/utilities/_text.css' %}">

    <style>
        /* Add your custom styles here */
        .patient-data {
            
        }

        /* Add more custom styles as needed */
    </style>
</head>
<body>
    <div class="patient-data" id="patientData">
        <!-- Add your patient data here -->
    </div>

    <script src="{% static 'layouts/DefaultDashboardLayout.js' %}"></script>

    <form action="{% url 'myfirstapp:logout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Logout">
    </form>
</body>
</html>
